@charset "UTF-8";
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  font-family: "メイリオ", "Meiryo", "arial", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, Georgia, Times, Times New Roman, sans-serif;
  font-weight: 400;
  color: #333333;
  font-size: 1.6rem;
  line-height: 1.6;
  background: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.6;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #333333;
}

ul {
  list-style: none;
}

input[type=text],
input[type=tel],
input[type=email] {
  width: 100%;
  font-family: "メイリオ", "Meiryo";
  font-size: 1.6rem;
  color: #333333;
  border: 1px solid #333333;
}

input[type=submit] {
  width: 100%;
  font-family: "メイリオ", "Meiryo";
  font-size: 1.6rem;
  color: #ffffff;
  border: 1px solid #333333;
  background-color: #333333;
  transition: 0.3s;
}

input[type=submit]:hover {
  opacity: 0.6;
}

select {
  width: 100%;
  font-family: "メイリオ", "Meiryo";
  font-size: 1.6rem;
  font-weight: bold;
  color: #333333;
  border: 1px solid #333333;
}
select option {
  color: #333333;
}
select option:first-child {
  display: none;
}

textarea {
  width: 100%;
  font-family: "メイリオ", "Meiryo";
  font-size: 1.6rem;
  font-weight: bold;
  color: #333333;
  border: 1px solid #333333;
  resize: none;
}

::placeholder {
  color: #d3d3d3;
}

/* common */
.section {
  width: 100%;
}
.section_title {
  text-align: center;
}
.section_title span {
  display: inline-block;
  line-height: 48px;
  border-bottom: 4px solid #707070;
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic;
  font-size: 3rem;
  font-weight: bold;
}

.inner {
  width: 100%;
  padding: 0 16px;
}

.pagenation {
  width: 270px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.pagenation .page-numbers {
  width: 40px;
  height: 40px;
  line-height: 38px;
  color: #2699fb;
  font-family: "arial";
  font-weight: bold;
  font-size: 1.7rem;
  border: 2px solid #2699fb;
  border-radius: 50%;
  text-align: center;
}
.pagenation .page-numbers:nth-child(n+4) {
  display: none;
}
.pagenation .page-numbers:last-child {
  display: block;
}

.post_search {
  width: 300px;
  margin: 0 auto;
}
.post_search input[type=text] {
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic;
  font-weight: bold;
  color: #333333;
  background-color: #d3d3d3;
  border: 0px;
  border-radius: 4px;
  padding: 15px 18px;
}
.post_search input[type=text]::placeholder {
  padding: 0 20px;
  color: #333333;
}

.select_pref {
  position: relative;
}
.select_pref::after {
  content: "";
  position: absolute;
  top: 45%;
  right: 20px;
  transform: translate(0, -50%) rotate(-45deg);
  width: 10px;
  height: 10px;
  border-left: 2px solid #2699fb;
  border-bottom: 2px solid #2699fb;
}

@media screen and (min-width: 960px) {
  .section {
    max-width: 1280px;
    margin: 0 auto;
  }
  .inner {
    padding: 0 120px;
  }
  .page-numbers {
    width: 40px;
    height: 40px;
  }
  .pagenation {
    width: 400px;
  }
  .pagenation .page-numbers:nth-child(n+4) {
    display: block;
  }
  .post_search {
    display: none;
  }
}
/* hamburger */
.menu_hamburger {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translate(0, -50%);
}

.bar {
  margin: auto;
  display: block;
  width: 24px;
  height: 2px;
  background: #ffffff;
  margin: 0 auto;
  transition: 0.3s;
}

.bar::before,
.bar::after {
  content: "";
  position: absolute;
  height: 2px;
  right: 0;
  background: #ffffff;
  transition: 0.3s;
}

.bar::before {
  width: 24px;
  top: -8px;
}

.bar::after {
  width: 24px;
  bottom: -8px;
}

.menu_hamburger {
  z-index: 200;
}

.menu_checkbox:checked ~ .menu {
  transform: translateX(0);
  transition: 0.3s;
}

.menu_checkbox:checked ~ .menu_hamburger > .bar {
  background: transparent;
}

.menu_checkbox:checked ~ .menu_hamburger > .bar::before {
  transform: translateY(8px) rotate(-45deg);
  top: -8px;
  background: #ffffff;
}

.menu_checkbox:checked ~ .menu_hamburger > .bar::after {
  transform: translateY(-8px) rotate(45deg);
  bottom: -8px;
  background: #ffffff;
}

@media screen and (min-width: 960px) {
  .bar {
    display: none;
  }
}
/* header */
.header {
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  font-size: 1.6rem;
}
.header_top {
  padding: 25px 14px;
  position: relative;
  z-index: 110;
  background-color: #333333;
}
.header_top form {
  position: absolute;
  top: 50%;
  right: 38px;
  transform: translate(0, -50%);
  width: 148px;
  display: none;
}
.header_top form input[type=text] {
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic;
  font-weight: bold;
  color: #333333;
  background-color: #d3d3d3;
  border: 0px;
  border-radius: 4px;
  padding: 15px 18px;
}
.header_top form input[type=text]::placeholder {
  color: #333333;
}
.header_bottom {
  position: absolute;
  top: 0;
  left: 0;
  padding: 86px 0 0;
  width: 100%;
  height: 100vh;
  background-color: #333333;
  transform: translateX(-100%);
  transition: 0.3s;
  z-index: 100;
}
.menu_checkbox:checked ~ .header_bottom {
  transform: translateX(0);
  transition: 0.3s;
}
.header_title {
  font-size: 1.6rem;
  font-weight: bold;
}
.header_title a {
  color: #ffffff;
}
.header_inner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header_nav {
  width: 100%;
  padding: 0 16px;
}
.header_nav-1 {
  display: block;
  margin-bottom: 32px;
}
.header_nav-1 li {
  padding: 16px 0;
  border-bottom: 1px solid #ffffff;
}
.header_nav-1 li a {
  color: #ffffff;
}
.header_nav-1 li:last-child {
  margin-right: 0;
}
.header_nav-2 {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}
.header_nav-2 li {
  margin-right: 32px;
}
.header_nav-2 li a {
  color: #ffffff;
}
.header_nav-2 li:last-child {
  margin-right: 0;
}
.header_nav-2 a {
  color: #ffffff;
}
.header_nav-3 {
  padding: 0 16px;
}
.header_nav-3 a {
  color: #ffffff;
}

@media screen and (min-width: 960px) {
  .header_top {
    background-color: #ffffff;
  }
  .header_top form {
    display: block;
  }
  .header_bottom {
    display: block;
    position: initial;
    transform: translateX(0);
    height: initial;
    padding: 0;
  }
  .header_title {
    font-size: 1.9rem;
    font-weight: bold;
  }
  .header_title a {
    color: #333333;
  }
  .header_inner {
    padding: 0 85px;
  }
  .header_nav {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
  }
  .header_nav-1 {
    display: flex;
    justify-content: start;
    font-size: 1.8rem;
    margin-bottom: 0;
  }
  .header_nav-1 li {
    margin-right: 32px;
    padding: 0;
    border-bottom: 0px solid #ffffff;
  }
  .header_nav-2 {
    padding: 0;
    margin-bottom: 0;
  }
  .header_nav-2 li {
    margin-right: 32px;
  }
  .header_nav-3 {
    position: absolute;
    top: 0;
    right: 0;
    padding: 24px 30px;
  }
}
/* footer */
.footer {
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic;
}
.footer_top {
  background-color: #d3d3d3;
}
.footer_top .footer_nav {
  padding: 50px 16px 42px;
}
.footer_top .footer_nav-1 {
  display: none;
}
.footer_top .footer_nav-2 li {
  border: 1px solid #ffffff;
  max-width: 360px;
  margin: 0 auto 45px;
  border-radius: 4px;
  display: flex;
}
.footer_top .footer_nav-2 li span {
  padding: 9px 15px;
  width: 70%;
  font-size: 2rem;
  font-weight: normal;
}
.footer_top .footer_nav-2 li a {
  padding: 9px 15px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #333333;
  font-size: 2.1rem;
  font-weight: normal;
  text-align: center;
}
.footer_top .footer_nav-2 li:last-child {
  margin-bottom: 0;
}
.footer_top .footer_signature {
  color: #2699fb;
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  padding: 37px 24px 88px;
}
.footer_top .footer_signature ul {
  display: flex;
  justify-content: center;
}
.footer_top .footer_signature ul li {
  margin-right: 8px;
}
.footer_top .footer_signature ul li:last-child {
  margin-right: 0;
}
.footer_top .footer_signature .signature_prof {
  margin-bottom: 70px;
}
.footer_top .footer_signature .signature_prof .signature_prof_name {
  width: 165px;
  margin: 0 auto;
  padding: 40px 0;
}
.footer_top .footer_signature .signature_prof .signature_prof_name p {
  width: 100%;
  text-align: center;
  font-family: "arial";
  font-weight: bold;
  font-size: 1.4rem;
  position: relative;
}
.footer_top .footer_signature .signature_prof .signature_prof_name p::before {
  position: absolute;
  left: -80px;
  top: 50%;
  transform: translate(0, -50%);
  content: "";
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: url(../img/footer_prof.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f1f9ff;
}
.footer_top .footer_signature .signature_text {
  margin: 0 auto;
  width: 295px;
  text-align: center;
  margin-bottom: 60px;
}
.footer_top .footer_signature .signature_text p {
  font-family: Georgia, Times, Times New Roman;
  font-style: italic;
  font-size: 2rem;
  line-height: 1.5;
}
.footer_bottom {
  color: #ffffff;
  background-color: #333333;
  padding: 8px 0 16px;
  text-align: center;
}
.footer_bottom a {
  color: #ffffff !important;
}
.footer_bottom small {
  font-size: 1.4rem;
  font-weight: normal;
}

@media screen and (min-width: 960px) {
  .footer_top {
    display: flex;
  }
  .footer_top .footer_nav {
    width: 70%;
    display: flex;
    padding: 100px 0 130px;
  }
  .footer_top .footer_nav-1 {
    display: block;
    width: 50%;
  }
  .footer_top .footer_nav-1 ul {
    width: 165px;
    margin: 0 auto;
  }
  .footer_top .footer_nav-1 a {
    color: #333333;
    font-size: 2rem;
    font-weight: normal;
    text-align: left;
  }
  .footer_top .footer_nav-2 {
    width: 50%;
    padding: 0 47px;
  }
  .footer_top .footer_nav-2 li {
    margin: 0 auto 20px;
  }
  .footer_top .footer_signature {
    width: 30%;
    min-width: 360px;
    padding: 37px 24px 70px;
  }
  .footer_bottom small {
    font-size: 1.6rem;
    padding: 8px 16px 16px;
  }
}
/* postbox */
.postbox {
  font-family: "arial";
  padding: 125px 0 0;
}
.postbox .cards .card {
  width: 100%;
  max-width: 335px;
  margin: 0 auto 65px;
}
.postbox .cards .card_img {
  width: 100%;
  background-image: url(../img/no_image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #d3d3d3;
  border: 1px solid #95989a;
  position: relative;
}
.postbox .cards .card_img:before {
  content: "";
  display: block;
  padding-top: 75%;
}
.postbox .cards .card_img span {
  position: absolute;
  top: 28px;
  left: 30px;
  font-weight: bold;
  font-size: 1.2rem;
  color: #ffffff;
  -webkit-text-stroke: 1px #707070;
}
.postbox .cards .card_text {
  width: 100%;
  padding: 30px;
  border: 1px solid #95989a;
}
.postbox .cards .card_text h2 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 10px;
}
.postbox .cards .card_text p {
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.7;
}
.postbox .cards .card:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

@media screen and (min-width: 960px) {
  .postbox {
    padding: 228px 0 0;
  }
  .postbox .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .postbox .cards .card {
    width: calc((100% - 40px) / 3);
    margin: 0 0 65px;
  }
  .postbox .cards:after {
    content: "";
    display: block;
    width: calc((100% - 40px) / 3);
  }
}
/* profile */
.profile {
  font-family: "メイリオ", "Meiryo";
  padding: 0 0 20px;
}
.profile .card {
  width: 100%;
  max-width: 335px;
  margin: 0 auto;
}
.profile .card_img {
  width: 100%;
  background-image: url(../img/prof.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #d3d3d3;
  border: 1px solid #95989a;
  position: relative;
}
.profile .card_img:before {
  content: "";
  display: block;
  padding-top: 75%;
}
.profile .card_img span {
  position: absolute;
  top: 28px;
  left: 30px;
  font-weight: bold;
  font-size: 1.2rem;
}
.profile .card_text {
  width: 100%;
}
.profile .card_text .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}
.profile .card_text .name h2 {
  order: 1;
  font-weight: bold;
  font-size: 3rem;
}
.profile .card_text .name h3 {
  order: 2;
  font-weight: bold;
  font-size: 1.6rem;
}
.profile .card_text .detail {
  padding: 25px 20px 10px;
  border: 1px solid #95989a;
  min-height: 420px;
}
.profile .card_text .detail p {
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 1.2;
}

@media screen and (min-width: 960px) {
  .profile {
    padding: 0 0 60px;
  }
  .profile .card {
    width: 100%;
    max-width: initial;
    margin: 0 auto;
    display: flex;
  }
  .profile .card_img {
    width: 300px;
    background-image: url(../img/prof.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #d3d3d3;
    border: 1px solid #95989a;
    position: relative;
  }
  .profile .card_img:before {
    content: "";
    display: block;
    padding-top: 75%;
  }
  .profile .card_img span {
    position: absolute;
    top: 28px;
    left: 30px;
    font-weight: bold;
    font-size: 1.2rem;
  }
  .profile .card_text {
    border: 1px solid #95989a;
    padding: 18px 29px;
    width: calc(100% - 300px);
  }
  .profile .card_text .name {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    margin-bottom: 27px;
  }
  .profile .card_text .name h2 {
    order: 2;
    font-size: 2.6rem;
  }
  .profile .card_text .name h3 {
    order: 1;
    font-size: 1.6rem;
  }
  .profile .card_text .detail {
    padding: 0;
    margin-bottom: 62px;
    border: 0px;
    min-height: initial;
  }
  .profile .card_text .detail p {
    font-size: 2rem;
    line-height: 1.5;
    color: #707070;
  }
}
/* category */
.category .cards {
  margin-bottom: 120px;
}
.category .pagenation {
  margin-bottom: 55px;
}
.category .post_search {
  margin-bottom: 130px;
}

@media screen and (min-width: 960px) {
  .category .cards {
    margin-bottom: 65px;
  }
  .category .pagenation {
    margin-bottom: 110px;
  }
}
/* search */
.search_result {
  padding: 0 20px;
  margin-bottom: 84px;
}
.search_result .section_title {
  text-align: left;
}
.search_result .section_title span {
  display: inline-block;
  line-height: 48px;
  border-bottom: 4px solid #707070;
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic;
  font-size: 3rem;
  font-weight: bold;
}
.search .cards {
  margin-bottom: 53px;
}
.search .pagenation {
  margin-bottom: 50px;
}
.search .post_search {
  margin-bottom: 65px;
}

@media screen and (min-width: 960px) {
  .search_result {
    padding: 0;
    margin-bottom: 80px;
  }
  .search_result span {
    display: inline-block;
    line-height: 48px;
    border-bottom: 4px solid #707070;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic;
    font-size: 3rem;
    font-weight: bold;
  }
  .search .cards {
    margin-bottom: 65px;
  }
  .search .pagenation {
    margin-bottom: 110px;
  }
}
/* category */
.category .cards {
  margin-bottom: 120px;
}
.category .pagenation {
  margin-bottom: 55px;
}
.category .post_search {
  margin-bottom: 130px;
}

@media screen and (min-width: 960px) {
  .category .cards {
    margin-bottom: 65px;
  }
  .category .pagenation {
    margin-bottom: 110px;
  }
}
/* contact */
.contact {
  padding: 125px 0 0;
}
.contact .section_title {
  margin-bottom: 92px;
}
.contact form {
  max-width: 360px;
  margin: 0 auto 99px;
}
.contact form input[type=text],
.contact form input[type=tel],
.contact form input[type=email] {
  padding: 15px 18px;
}
.contact form input[type=submit] {
  font-weight: bold;
  font-size: 2.5rem;
}
.contact form select {
  padding: 15px 18px;
}
.contact form .form-textarea {
  min-height: 315px;
  padding: 15px 18px;
  margin-bottom: 63px;
}
.contact form .contact_control {
  margin-bottom: 36px;
}
.contact form .contact_submit_box {
  padding: 14px 64px;
  border-radius: 4px;
}

@media screen and (min-width: 960px) {
  .contact {
    padding: 228px 0 0;
  }
  .contact form {
    width: 100%;
    max-width: 630px;
    margin: 0 auto 297px;
  }
  .contact form input[type=text],
  .contact form input[type=tel],
  .contact form input[type=email] {
    padding: 13px 20px;
  }
  .contact form select {
    padding: 13px 20px;
  }
  .contact form .form-textarea {
    padding: 13px 20px;
    margin-bottom: 80px;
  }
  .contact form .contact_control {
    margin-bottom: 20px;
  }
  .contact form .contact_submit_box {
    padding: 14px 220px;
  }
}
/* single */
.single_time {
  margin-bottom: 16px;
}
.single_time h3 {
  font-family: "メイリオ", "Meiryo";
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #333333;
}
.single_title {
  margin-bottom: 8px;
}
.single_title h2 {
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  color: #333333;
}
.single_eyecatching {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  height: 310px;
  margin-bottom: 50px;
  background-image: url(../img/no_image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #7fc4fd;
}
.single_content {
  margin-bottom: 40px;
}
.single_content p {
  font-family: "メイリオ", "Meiryo";
  font-size: 2.5rem;
  line-height: 1.6;
  margin-bottom: 40px;
}
.single_content p:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 960px) {
  .single_time {
    margin-bottom: 24px;
  }
  .single_title {
    margin-bottom: 16px;
  }
  .single_eyecatching {
    width: 100%;
    height: 575px;
    margin: 0 0 58px;
  }
  .single_content {
    margin-bottom: 60px;
  }
  .single_content p {
    margin-bottom: 60px;
  }
}
/* movie */
.movie.postbox {
  padding: 0;
}
.movie .movie_cards {
  margin-bottom: 120px;
}
.movie .movie_cards .movie_card {
  width: 100%;
  max-width: 330px;
  height: 183px;
  margin: 0 auto 20px;
}
.movie .movie_cards .movie_card .movie_file {
  width: 100%;
  height: 183px;
  background-image: url(../img/movie.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f0f9ff;
}
.movie .movie_cards .movie_card:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 960px) {
  .movie {
    overflow: hidden;
  }
  .movie.section {
    max-width: 100%;
  }
  .movie .inner {
    padding: 0;
  }
  .movie .movie_cards {
    width: 120%;
    transform: translate(-8%, 0);
    display: flex;
    margin-bottom: 80px;
  }
  .movie .movie_cards .movie_card {
    width: 760px;
    max-width: 760px;
    height: 530px;
    margin-right: 40px;
    margin-bottom: 0;
  }
  .movie .movie_cards .movie_card .movie_file {
    width: 100%;
    height: 530px;
  }
  .movie .movie_cards .movie_card:last-child {
    margin-right: 0;
  }
}
/* related */
.related.postbox {
  padding: 0;
}
.related .section_title {
  margin-bottom: 33px;
  text-align: left;
}
.related .cards {
  margin-bottom: 40px;
}
.related .cards .card:last-child {
  margin-bottom: 0;
}
.related .pagenation {
  margin-bottom: 36px;
}

@media screen and (min-width: 960px) {
  .related .section_title {
    margin-bottom: 40px;
  }
  .related .cards {
    margin-bottom: 65px;
  }
  .related .pagenation {
    margin-bottom: 110px;
  }
}/*# sourceMappingURL=style.css.map */